
/*input[type="text"]{
    outline: solid 1px rgb(17, 14, 14);
    border: none;
    border-radius: 5px;
    caret-color: yellowgreen;
    padding: 5px;
    height: 25px;
    font-weight: 590;
    color: yellowgreen;
    text-transform: capitalize;
}

input[type="text"]:focus{
    outline: solid 1px yellowgreen;
}


button{
    color:black;
    font-weight: 800;
    padding: 7px;
    border: solid 2px yellowgreen;
    border-radius: 9px;
    height: 40px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:hover{
    color: yellowgreen;
    background-color: white;
}
*/
/*.logo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}*/

*{
    margin: 0;
    font-family: arial;
    color: #fff;
   }
body{
    background-image: url(backgroundmongit.jpg);
    width: 100%;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    background-color: rgba(50, 50, 50, 0.673);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
}
.left-side{
    width: 400px;
}
.logo{
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
}

.mid-part{
    display:flex;

}
.mid-part a{
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
    color:#fff;
    text-align: center;
    margin-top: 35px ;
}
.mid-part a:hover{
    color: red;

}
.right-side{
    width:250px;
}
#button{
    position: relative;
    text-decoration: none;
    color:white;
    background-color: rgb(7, 153, 158);
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    padding-left: 25px;
    top: 40%;
    font-size: 16px;
}
.home{
    position:absolute;
    top: 50%;
    left: 50%;
    height: 75%;
    width: 75%;
    transform: translate(-50%, -50%);
    background-image: url(backgroundmongit.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 3px 7px white;
}
.content{
    width:900px;
    padding: 100px 0;
    display: flex;
    flex-direction:column;
}
.content a{
    position: relative;
    font-size: 3em;
    font-weight: 700;
    top: -40px;
    left: 80px;
    text-decoration: none;
    color: white;
}
.content h2{
    position: relative;
    top: 50px;
    font-size: 3.5em;
    text-align: center;
    color: #fff;
}
.content h3{
    position: relative;
    top:50px;
    font-size: 2em;
    text-align: center;
    color: #fff;
}
.content pre{
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

.content .icon{
    display: flex;
    position: relative;
    top: 75px;
    font-size: 1.5em;
    justify-content: center;
}
.content .icon i{
    margin-left: 20px;
    cursor: pointer;
}
.icon i:hover{
    transform: scale(1.40)
}
.signin{
    width: 500px;
    position:relative;
    backdrop-filter: blur(20px);
    padding: 100px 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.signin h2{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.signin .input{
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
}
.signin .input .input1{
    font-size: 16px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: solid 2px;
}
.signin .input i{
    position: relative;
    right: -325px;
    bottom: 23px;
}
::placeholder{
    font-size: 18px;
}
.check{
    display:flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.check a{
    text-decoration: none;
}
.btn{
    display: flex;
}
.buttons{
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    padding: 12px;
    background-color: rgb(106, 129, 84);
    border: none;
    border-radius: 10px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.buttons:hover{
    color: rgb(106, 129, 84);
    background-color: #fff;
    border: solid 3px rgb(106, 129, 84);
    

}
.account{
    display: flex;
    justify-content: center;
}

.account p{
    margin-right: 5px;
}
.account a{
    text-decoration: none;
    font-weight: 700;
}